@import url(https://fonts.googleapis.com/css?family=Jersey+10);
@import url(https://fonts.googleapis.com/css?family=Eagle+Lake);

.font-beleren-bold {
  font-family: 'Beleren Bold';
}

.font-jersey {
  font-family: 'Jersey 10';
}

.font-eagle-lake {
  font-family: 'Eagle Lake';
}

.font-default {
  font-family: monospace;
}

.card-details {
  background-color: #171717 !important;
  border-radius: 10px;
}

.font-margin {
  margin: 2;
}

.card-text {
  white-space: pre-line;
}