@import url(https://fonts.googleapis.com/css?family=Jersey+10);
@import url(https://fonts.googleapis.com/css?family=Eagle+Lake);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text);

.font-beleren-bold {
  font-family: 'Beleren Bold';
}

.font-jersey {
  font-family: 'Jersey 10';
}

.font-eagle-lake {
  font-family: 'Eagle Lake';
}

.font-default {
  font-family: monospace;
}

.font-crimson-text {
  font-family: 'Crimson Text';
}

.card-details {
  background-color: #171717;
  border-radius: 10px;
}

p {
  margin: 2;
}

.card-text {
  white-space: pre-line;
}

.card-element {
  touch-action: none;
}

.card-element img {
  border-radius: 26px;
}

.card-list {
  background-color: #252525;
  border-color: #3a3a3a;
}

.mt-1-mw {
  @media screen and (max-width: 768px) {
    margin-top: 1rem;
  }
}